<!doctype HTML>

<html lang="en-au">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description"
          content="Communicate with friends, family and more. Bypass Government Education Proxy systems and communicate with anyone around the world. Access sites typically blocked for average users with ease!"/>
    <title>JS Bin</title>

    <link rel="stylesheet" href="/css/master.css"/>

    <% if (typeof locals.chat !== "undefined" && locals.chat) { %>
        <meta name="chatId" content="<%= chat.chatToken.id %>"/>
    <% } %>
</head>
<body>
<header>
    <span>Welcome <%= userObject.details.displayName %></span>
    <button id="preferences-btn">Preferences</button>
    <a href="">
        <button id="logout-btn">Log Out</button>
    </a>
</header>

<section id="people">
    <header>
        <h2>People</h2>
        <button id="befriend-btn">Add</button>
    </header>

    <div id="people-list">
        <% const following = userObject.details.following %>

        <% if (following.length > 0) { for (const i of following) { %>
            <div class="person" data-id="<%= i.id %>"><%= i.resolve().details.displayName %></div>
        <% } } else { %>
            <div>You haven't befriended anyone yet</div>
        <% } %>
    </div>
</section>

<section id="chat-container">
    <header id="sort-tools">
        <button>Split by mine</button>
        <label>
            Sort By
            <select>
                <option>Alphabetical</option>
                <option>Counter Alphabetical</option>
                <option>Most Recently Active</option>
                <option>Most Recently Created</option>
                <option>Least Recently Active</option>
                <option>Least Recently Created</option>
            </select>
        </label>
    </header>
    <div id="chats">
        <% const chats = userObject.listChats(userObject.constructor.filterNames.alphabetical); %>

        <% if (chats && chats.length >= 0) { for (const chat of chats) { %>
            <a href="/chat/<%= chat.chatId.id %>"><%= chat.chatName %></a>

        <% } } else { %>
            <div id='friendly-message'>There's nothing here yet</div>
        <% } %>

    </div>
</section>

<section id="chat-room-container">
    <header>
        <h3 id="chat-name"></h3>
    </header>
    <div id="room-container">
        <% if (typeof chat !== "undefined" && chat) { %>
            <div id="messages">
                <% for (const message of chat.messages) { %>
                    <% const sender = new UserToken(message.sender, true).resolve() %>
                    <div class="message">
                        <div class="message-header">
                            <span class="sender"><%= sender.details.displayName %></span>
                            <% const date = message.timeStamp; %>
                            <span class="time">
                            <%- (function () {

                                const diff = (date1, date2) => Math.ceil(Math.abs(date2 - date1) / (1000 * 60 * 60 * 24));

                                const dateDiff = diff(date, new Date());

                                if (dateDiff <= 1) {// message is from today
                                    const mins = new Date().getMinutes() - date.getMinutes();
                                    const hours = new Date().getHours() - date.getHours();

                                    if (mins < 1 && hours < 1)
                                        return "Just Then";
                                    else if (hours <= 1)
                                        return `${mins} ${mins === 1 ? "minute" : "minutes"} ago`;
                                    else if (hours <= 6)
                                        return `${hours} ${hours === 1 ? "hour" : "hours"} ago`;
                                    else
                                        return `Today, ${date.toLocaleTimeString()}`;
                                } else if (dateDiff <= 2)
                                    return `Yesterday, ${date.toLocaleTimeString()}`;
                                else if (dateDiff <= 7) {
                                    const days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];

                                    return `${days[days.length % (dateDiff + new Date().getDay() + 1)]}, ${date.toLocaleTimeString()}`;
                                } else
                                    return date.toLocaleString();
                            })() %></span>
                        </div>
                        <div class="message-content">
                            <div class="prof-pic">
                                <object data="/api/image/<%- message.sender.id %>" type="image/png">
                                    <img src="/res/user.svg" alt="No Picture"/>
                                </object>
                            </div>
                            <div class="message-body">
                                <%- message.message.map(i => String.fromCodePoint(i)).join('') %>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <form id="message-composer">
                <button id="attach-btn">
                    <!--Include paperclip icon-->
                    attach
                </button>
                <label>
                    <input type="text" placeholder="Message" id="message-box">
                </label>
                <button>
                    <!--Include a send icon-->
                    send
                </button>
            </form>
        <% } else { %>
            <h2>Select a chat to view its contents</h2>
        <% } %>
    </div>
</section>

<% if (environment === 1) { %>
    <script src="/src/src.js"></script>
<% } else { %>
    <script src="/src/src.min.js"></script>
<% } %>
</body>
</html>